# Virtual environment
.venv/

# Python cache
pycache/
*.py[cod]
*$py.class

# IDE
.idea/

# Build / distribution
build/
dist/
*.egg-info/
.vlc-runtime/

# OS files
.DS_Store
Thumbs.db

# Environment / secrets
.env
.env.*
installer/
